<div class="container">
  <div class="left">
    <mat-accordion>
      <mat-expansion-panel [expanded]="expandeds['debounce']">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Debounce
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="expandeds['throttle']">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Throttle
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="right">
    <div class="right-inside" [innerHTML]="toHtml(expandeds)|html">

    </div>
  </div>
</div>
